@import 'vars';

.alert {
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-radius: .25rem;
}

.alert-danger {
    color: var(--text-color);
    background-color: $red-transparent;
    border-color: $red;
}

.alert-success {
    color: var(--text-color);
    background-color: $green-transparent;
    border-color: $green-dark;
}