@import 'vars';

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 18px;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    transition: background-color 0.2s ease;
    border-radius: 6px;
    border: 2px solid transparent;
}

.btn-main {
    color: $white;
    background-color: $green;
}

.btn-main:hover {
    background-color: $green-dark;
}

.btn-outline {
    color: $green-dark;
    border-color: $green-dark;
}

.btn-outline:hover {
    color: $white;
    background-color: $green-dark;
}