@import 'vars';
.container {
  padding-top: 75px;
  padding-bottom: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 600px);
  gap: 75px;
  justify-content: center;

  @media (max-width: $mobile-breakpoint) {
    grid-template-columns: repeat(auto-fit, 500px);
  }
}

.game {
  width: 600px;
  display: flex;
  flex-direction: column;
  background-color: var(--modal-bg);
  border: 2px solid var(--modal-border);
  border-radius: $modal-border-radius;

  @media (max-width: $mobile-breakpoint) {
    width: 500px;
  }

  .game-image {
    flex-shrink: 0;
    height: 140px;
    border-bottom: 2px solid var(--modal-border);
    overflow: hidden;
    border-radius: $modal-border-radius $modal-border-radius 0 0;

    img {
      width: 100%;
    }
  }

  .game-body {
    flex: 1;
    display: flex;
    justify-content: space-between;
    padding: 5px $modal-padding $modal-padding $modal-padding;

    .game-left {
      .game-title {
        display: flex;

        h1 {
          margin: 0;
          margin-bottom: 10px;
        }

        .game-cost {
          display: flex;
          align-items: center;
          gap: 6px;
          padding: 4px 10px;
          font-weight: 600;
          font-size: 18px;
          color: $green;

          .cost-icon {
            display: inline-block;
            @include icon-mask(20px);
          }
        }
      }
    }

    .game-right {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding-left: 35px;
      
      .game-play {
        margin-top: auto;

        .play-icon {
          display: inline-block;
          @include icon-mask(60px);
          color: var(--text-nav-color);

          &:hover {
            color: $green;
          }
        }
      }
    }
  }
}