@import 'vars';
.nav {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 5px 30px;
    border-bottom: 5px solid var(--border-color);
}

.logo {
    img {
        height: 70px;
    }
}

.text-end {
    display: flex;
    gap: 15px;
}

@media (max-width: 600px) {
    .nav {
        flex-direction: column; 
        gap: 15px;
        padding: 20px;
    }

    .text-end {
        /* Centers the buttons directly underneath the logo */
        justify-content: center;
        width: 100%;
    }
}