.nav {
    display: flex;
    justify-content: space-between; 
    align-items: center;

    padding: 15px 30px;
    box-shadow: 0 4px 0 rgba(0,0,0,0.1);
}

.logo {
    img {
        height: 60px;
    }
}

.text-end {
    display: flex;
    gap: 15px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9px 17px;
    text-decoration: none;
    font-family: sans-serif;
    border-radius: 6px;
    font-weight: bold;
    transition: background-color 0.2s ease;
    border-radius: .25rem;
    border: 2px solid transparent;
}

.btn-main {
    color: $white;
    background-color: $green;
}

.btn-main:hover {
    background-color: $green-dark;
}

.btn-outline {
    color: $green-dark;
    border-color: $green-dark;
}

.btn-outline:hover {
    color: $white;
    background-color: $green;
}

@media (max-width: 600px) {
    .nav {
        flex-direction: column; 
        gap: 15px;
        padding: 20px;
    }

    .text-end {
        /* Centers the buttons directly underneath the logo */
        justify-content: center;
        width: 100%;
    }
}