@import 'vars';

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh; // Centers the profiles vertically
}

#profiles {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
}

.profile {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
}
.profileImageIcon {
    width: 150px;
    height: 150px;
    background-color: $white;

    -webkit-mask: url('/images/icon_plus.svg') center/contain no-repeat;
    mask: url('/images/icon_plus.svg') center/contain no-repeat;
}

.profileImage {
    color: $gray-dark;
    background-color: $green;
    color: $white;
    width: 150px; 
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 12px solid transparent; // Slightly thinner border looks better on light themes
    margin-bottom: 10px; // Adds breathing room between the box and the name
    transition: border-color 0.2s ease-in-out;
}

// Hover effects
.profile:hover {
    color: $green-dark;
    
    .profileImage {
        border-color: $green-dark;
    }
}

button {
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
}