@import 'vars';

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh; // Centers the profiles vertically
}

#profiles {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
}

.profile {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
}

.profileImageIcon {
    &.green {
        @include icon-mask(90px, $green);
    }
    &.red {
        @include icon-mask(90px, $red);
    }
    &.yellow {
        @include icon-mask(90px, $yellow);
    }
    &.blue {
        @include icon-mask(90px, $blue);
    }
    &.purple {
        @include icon-mask(90px, $purple);
    }
}

.createProfileImageIcon {
    @include icon-mask(150px, var(--form-text));
}

.profileImage {
    color: $gray-dark;
    background-color: var(--modal-bg);
    border: 2px solid var(--modal-border);
    color: $white;
    width: 150px; 
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin-bottom: 10px;
}

// Hover effects
.profile:hover {
    .profileImage {
        border-color: $green;
    }

    .profileText {
        color: $green;
    }
}

.profileText {
    transition: border-color 0.2s ease-in-out;
}

button {
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
}