//// Variables
// Colors
$clear: #ffffff00;
$white: #ffffff;
$black: #1c1c1c;


//  Dark mode
$gray-lightest: #dfdfdf;
$gray-light: #7e7e7e;
$gray: #525252;
$gray-dark: #232323;
$gray-darkest: #343434;

$green-light: #92DF9A;
$green: #62CC6F;
$green-dark: #48A853;